0 USER=baramjigi2
1 PATH=/Users/baramjigi2/.rbenv/shims:/Users/baramjigi2/.rbenv/bin:/Users/baramjigi2/.rbenv/shims:/Library/Frameworks/Python.framework/Versions/3.9/bin:/Library/Frameworks/Python.framework/Versions/3.8/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/Apple/usr/bin:/Users/baramjigi2/.rbenv/shims:/Users/baramjigi2/.rbenv/bin:/Library/Frameworks/Python.framework/Versions/3.9/bin:/Library/Frameworks/Python.framework/Versions/3.8/bin
2 LOGNAME=baramjigi2
3 SSH_AUTH_SOCK=/private/tmp/com.apple.launchd.KztJagaN57/Listeners
4 HOME=/Users/baramjigi2
5 SHELL=/bin/zsh
6 __CF_USER_TEXT_ENCODING=0x1F5:0x3:0x33
7 TMPDIR=/var/folders/8j/mj2cwfb919x7sb9qz7smhzjr0000gn/T/
8 XPC_SERVICE_NAME=0
9 XPC_FLAGS=0x0
10 ORIGINAL_XDG_CURRENT_DESKTOP=undefined
11 TERM_PROGRAM=vscode
12 TERM=xterm-256color
13 TERM_PROGRAM_VERSION=1.61.0
14 PWD=/Users/baramjigi2/project/42cursus/minishell
15 LANG=ko_KR.UTF-8
16 RBENV_SHELL=zsh
17 SHLVL=3
18 GIT_ASKPASS=/Applications/Visual Studio Code.app/Contents/Resources/app/extensions/git/dist/askpass.sh
19 COLORTERM=truecolor
20 APPLICATION_INSIGHTS_NO_DIAGNOSTIC_CHANNEL=true
21 VSCODE_GIT_IPC_HANDLE=/var/folders/8j/mj2cwfb919x7sb9qz7smhzjr0000gn/T/vscode-git-740bdc773f.sock
22 VSCODE_GIT_ASKPASS_NODE=/Applications/Visual Studio Code.app/Contents/Frameworks/Code Helper (Renderer).app/Contents/MacOS/Code Helper (Renderer)
23 VSCODE_GIT_ASKPASS_MAIN=/Applications/Visual Studio Code.app/Contents/Resources/app/extensions/git/dist/askpass-main.js
24 OLDPWD=/Users/baramjigi2/project/42cursus/minishell
25 _=/Users/baramjigi2/project/42cursus/minishell/./minishell
